*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-title{
  color: white;
  margin: 15px 5px 0 5px;

}

.product-btn{
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.product-btn button{
  display: block;
  margin: 0 auto;
  background: #001e28;
  color: #fff;
  box-shadow: 0 0 5px #001e28;
  transition: all 0.5s;
  border: none;
}

.product-btn button:hover{
  background-color: #fff;
  color: #001e28;
}

.ant-layout-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items{
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.ant-layout-header .anticon svg{
  font-size: 30px;
  vertical-align: middle;
}

.cart-items span{
  font-size: 18px;
}

.cart-badge{
  margin-left: 5px;
  height: 28px;
  display: flex;
  align-items: center;
  padding: 5px;
  /* top: -10px;
  right: -25px; */
  background-color: #001e28;
  color: #fff;
  border-radius: 50px;
}

.cart-minus{
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-plus{
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.qty-btn:hover{
  border-radius: 50px;
  filter: drop-shadow(0 0 1px #001e28);
  /* background-color: #001e28; */
  color: #fff;
}

.cart-quantity{
  font-size: 20px;
  vertical-align: bottom;
}

.cart-action{
  cursor: pointer;
  transition: all 0.5s;
}

.cart-action:hover{
  filter: drop-shadow(0 0 1px #ff0000);
  color: #fff;
}

.loading{
  position: absolute;
  left: 50%; top: 25%;
  letter-spacing: 1.3px;
  text-align: center;
  color: #001e28;
}

.cart-edit{
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 30px;
}

.cart-edit.eye{
  margin-left: unset;
}

.cart-edit:hover{
  filter: drop-shadow(0 0 1px #0000ff);
  color: #fff;
}

.add-new{
  cursor: pointer;
  display: block !important;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 0 0 15px auto !important;
  background: #001e28 !important;
  color: #fff !important;
  box-shadow: 0 0 5px #001e28 !important;
  transition: all 0.5s;
  border: none !important;
  /* margin-bottom: 15px; */
}

.add-new:hover{
  background-color: #fff !important;
  color: #001e28 !important;
}

.category{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.category-flex{
  margin: 0 30px;
  cursor: pointer;
  padding: 10px;
}

.category-active{
  box-shadow: 0 0 5px #001e28;
  border-radius: 3px;
}

.category-name{
  text-transform: capitalize;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form p {
  letter-spacing: 1.3px;
  color: #999;
}

.form-group {
  /* box-shadow: 0 0 5px #001e28; */
  padding: 10px 5px;
  border-radius: 5px;
  /* outline: none; */
  border: 1px solid #999;
  padding: 20px;
}

.form-group input{
  /* border: none; */
  /* outline: none !important; */
  border: 1px solid #999;
  width: 350px;
}

.form-group input:focus,
.form-group input:hover {
  /* outline: none; */
  border-color: #999;
}

.form-other {
  color: #001e28;
  letter-spacing: 1.3px;
}

.form-other:hover{
  color: #001e28;
  text-decoration: underline;
}

.sub-total{
  text-align: right;
}

.logo{
  text-align: center;
}

.card{
  margin: 0 15px;
}

.card-header h2{
  letter-spacing: 1px;
  color: #001e28;
}

.card-header span{
  display: flex;
  justify-content: center;
  color: #001e28;
  letter-spacing: 1px;
}

.card-body{
  margin-top: 25px;
}


.card-body .group{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #001e28;
}

.card-footer h4 {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-card{
  margin: 10px 0;
  box-shadow: 0 0 5px #afafaf;
  padding: 5px 15px;
  border-radius: 5px;
}

.footer-card .group{
  display: flex;
  justify-content: space-between;
}

.footer-card_total{
  width: 100px;
  margin: 20px 0 0 auto;
}

.footer-card_total .group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-thanks{
  text-align: center;
  margin-top: 10px;
  color: #001e28;
  margin-bottom: 20px;
}